<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbox.wxlogin.mapper.UserNoTokenMapper">
	<sql id="selectVO">
		<![CDATA[
			select 
				u.user_id, 
				u.dept_id, 
				u.nick_name, 
				u.user_name, 
				u.real_name,
				u.email, 
				u.avatar, 
				u.phonenumber, 
				u.password, 
				u.sex, 
				u.id_number,
				u.user_type,
				u.identity_type,
				u.status, 
				u.del_flag, 
				u.login_ip, 
				u.login_date, 
				u.create_by, 
				u.create_time, 
				u.remark, 
				d.dept_name, 
				d.leader 
			from sys_user u
			left join sys_dept d on u.dept_id = d.dept_id
			
		]]>
	</sql>
	
	<select id="listUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		<include refid="selectVO"/>
		where u.del_flag = '0'
		<if test="status != null and status !=''">
			and u.status = #{status}
		</if>
		<if test="id_number != null and id_number !=''">
			and u.id_number = #{id_number}
		</if>
		<if test="phonenumber != null and phonenumber !=''">
			and u.phonenumber = #{phonenumber}
		</if>
		<if test="check_status != null and check_status !=''">
			and u.check_status = #{check_status}
		</if>
		<if test="user_type != null and user_type !=''">
			and u.user_type = #{user_type}
		</if>
		<if test="dept_id != null and dept_id !=''">
			and u.dept_id = #{dept_id}
		</if>
		<if test="nick_name != null and nick_name !=''">
			and u.nick_name like concat('%',#{nick_name},'%')
		</if>
		<if test="user_name != null and user_name !=''">
			and u.user_name like concat('%',#{user_name},'%')
		</if>
		<if test="real_name != null and real_name !=''">
			and u.real_name like concat('%',#{real_name},'%')
		</if>
	</select>

	<select id="identityTypeValue" parameterType="java.util.Map" resultType="java.util.HashMap">
		select dict_lable,dict_value from sys_dict_data where dict_type=#{dict_type}
	</select>
</mapper>