<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.cbox.business.project.projectnode.mapper.ProjectNodeMapper">

	<!-- 查询对象 -->
	<sql id="selectVO">
		<![CDATA[
			select 
				t.rec_id,
				t.project_id,
				p.project_name,
				t.node_name,
				f.org_name,
				t.node_deadline,
				n.delay_deadline,
				n.delay_reason,
				t.node_status,
				t.finish_time,
				t.finish_detail,
				t.node_file,
				t.rec_status,
				t.rec_person,
				t.rec_time,
				t.rec_updateperson,
				t.rec_updatetime,
				u.nick_name as user_name
			from d_project_node t
			left join sys_user u on t.rec_person=u.user_name
			left join d_project_node_delayhis n on t.rec_id=n.node_id
			left join d_sys_file_record f on t.node_file=f.id
			left join d_project p on t.project_id=p.rec_id
		]]>
	</sql>

	<!-- listProjectNode : 获取项目节点列表数据 -->
	<select id="listProjectNode" parameterType="java.util.Map"
		resultType="java.util.HashMap">
		<include refid="selectVO" />

		where t.rec_status='1'
		<if test="project_id != null and project_id != ''">
			and t.project_id =#{project_id}
		</if>
		<if test="node_name != null and node_name != ''">
			and t.node_name like concat('%',#{node_name},'%')
		</if>
		<if test="node_status != null and node_status != ''">
			and t.node_status=#{node_status}
		</if>
		order by t.finish_time
		<if test="limit != null and limit !=''">
			limit #{limit}
		</if>
	</select>

	<!-- getNotFinishProjectNode : 获取指定项目id的未完成项目节点数据 -->
	<select id="getNotFinishProjectNode"
		parameterType="java.util.Map" resultType="java.util.HashMap">
		<include refid="selectVO" />

		where t.rec_status='1'
		and t.node_status&lt;&gt;'1'
		order by
		t.finish_time
		<if test="limit != null and limit != ''">
			limit #{limit}
		</if>
	</select>

	<!-- getProjectNode : 获取指定id的项目节点数据 -->
	<select id="getProjectNode" parameterType="java.util.Map"
		resultType="java.util.HashMap">
		<include refid="selectVO" />

		where t.rec_status='1'
		and t.rec_id=#{rec_id}
	</select>

</mapper>