<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbox.business.customer.customerfamilylive.mapper.CustomerFamilyliveMapper">

	<!-- 查询对象 -->
	<sql id="selectVO">
		<![CDATA[
			select 
				t.rec_id,
				t.customer_id,
				t.live_status,
				t.live_pain,
				t.preferred_brand,
				t.customer_evaluate,
				t.actual_delivery_time,
				t.contract_delivery_time,
				t.rec_status,
				t.rec_person,
				t.rec_time,
				t.rec_updateperson,
				t.rec_updatetime,
				u.nick_name as user_name
			from d_customer_familylive t
			left join sys_user u on t.rec_person=u.user_name
		]]>
	</sql>

	<!-- listCustomerFamilylive : 获取客户家庭居住现状列表数据 -->
	<select id="listCustomerFamilylive" parameterType="java.util.Map" resultType="java.util.HashMap">
		<include refid="selectVO"/>

		where t.rec_status='1'
		<if test="customer_id != null and customer_id != ''">
			 and t.customer_id=#{customer_id}
		</if>
		<if test="live_status != null and live_status != ''">
			 and t.live_status=#{live_status}
		</if>
		<if test="preferred_brand != null and preferred_brand != ''">
			 and t.preferred_brand like concat('%',#{preferred_brand},'%')
		</if>
		<if test="customer_evaluate != null and customer_evaluate != ''">
			 and t.customer_evaluate=#{customer_evaluate}
		</if>
		<if test="actual_delivery_time != null and actual_delivery_time != ''">
			 and t.actual_delivery_time like concat(#{actual_delivery_time},'%')
		</if>
		<if test="contract_delivery_time != null and contract_delivery_time != ''">
			 and t.contract_delivery_time like concat(#{contract_delivery_time},'%')
		</if>
	</select>

	<!-- getCustomerFamilylive : 获取指定id的客户家庭居住现状数据 -->
	<select id="getCustomerFamilylive" parameterType="java.util.Map" resultType="java.util.HashMap">
		<include refid="selectVO"/>

		where t.rec_status='1'
		and t.rec_id=#{rec_id}
	</select>

</mapper>