<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbox.business.user.usercustomer.mapper.UserCustomerMapper">

	<!-- 查询对象 -->
	<sql id="selectVO">
		<![CDATA[
			select 
				t.rec_id,
				t.follow_person,
				t.customer_id,
				t.rec_status,
				t.rec_person,
				t.rec_time,
				t.rec_updateperson,
				t.rec_updatetime,
				u.nick_name as user_name,
				u1.nick_name as follow_name,
				c.customer_name
			from d_user_customer t
			left join sys_user u on t.rec_person=u.user_name
			left join d_customer c on t.customer_id=c.rec_id
			left join sys_user u1 on t.follow_person=u.user_name
		]]>
	</sql>

	<!-- listUserCustomer : 获取用户的客户列表数据 -->
	<select id="listUserCustomer" parameterType="java.util.Map" resultType="java.util.HashMap">
		<include refid="selectVO"/>

		where t.rec_status='1'
		<if test="follow_person != null and follow_person != ''">
			 and t.follow_person=#{follow_person}
		</if>
		<if test="customer_id != null and customer_id != ''">
			 and t.customer_id=#{customer_id}
		</if>
	</select>

	<!-- getUserCustomer : 获取指定id的用户的客户数据 -->
	<select id="getUserCustomer" parameterType="java.util.Map" resultType="java.util.HashMap">
		<include refid="selectVO"/>

		where t.rec_status='1'
		and t.rec_id=#{rec_id}
	</select>

</mapper>